<h1 class="text-center mt-4"><%= @user.name%>'s Profile</h1>
<%= gravatar_for @user, size: 200 %>
<% if logged_in? && current_user == @user %>
  <div class="text-center mt-4">
    <%= link_to "Edit your profile", edit_user_path(@user), class: 'btn btn-outline-info' %>
  </div>
<% end %>
<%= render 'articles/articles' %>